.footer-bg {
  background: var(--color-c12);
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  padding: 60px 60px;
}
.footer-content h3 {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer-content li {
  margin-bottom: 10px;
}

.footer-contact li:nth-child(even) {
  margin-bottom: 20px;
  border-bottom: 0.5px solid var(--color-c11);
}
.social-media {
  display: flex;
  gap: 20px;
}
.footer-copy {
  text-align: left;
}
