.footer-bg {
  background: var(--color-c12);
}
.footer-content {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  /* align-items: start; */
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  /* border: 1px solid var(--color-w); */
}

.footer-content h3 {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer-content li {
  margin-bottom: 10px;
}

.footer-contact li:nth-child(even) {
  margin-bottom: 20px;
  border-bottom: 0.5px solid var(--color-c11);
}
.social-media {
  display: flex;
  gap: 20px;
}
.footer-copy {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 20px;
}
.footer-content a:hover {
  color: var(--color-w);
}

@media (max-width: 800px) {
  .footer-content > img {
    display: none;
  }
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
