@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");

body {
  margin: 0px;
  /* padding-bottom: 600px; */
}
h1,
ul,
p,
h3,
blockquote {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 4px;
}
