.header-bg {
  background: var(--color-c12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  align-items: right;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  position: relative;
  padding: 16px 0px;
  display: inline-block;
  color: var(--color-w);
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--color-w);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    align-items: center;
    background: var(--color-c11);
    border-radius: 4px;
    padding: 12px 16px;
  }
  .header-menu a:hover {
    background: var(--color-c10);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
  }
  .header-menu a::after {
    display: none;
  }
}
