.insurance-bg {
  background: var(--color-c12);
  padding-top: 60px;
  padding-bottom: 60px;
}
.insurance-bg h1 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.insurance-chart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 20px;
  padding-top: 60px;
  margin-bottom: 60px;
}
.insurance-chart li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.faq {
  padding-top: 120px;
  padding-bottom: 120px;
}

.faq h2 {
  margin-bottom: 60px;
}

.faq dl > div {
  padding: 20px;
  border-radius: 4px;
}
.faq dl > div:nth-child(odd) {
  background: var(--color-c1);
}

.faq dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.faq dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--color-p1);
}
.faq dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/icones/seta-abrir.svg") no-repeat center;
  transition: transform 0.3s;
}

.faq dd {
  padding: 20px;
  padding-top: 20px;
  max-width: 80ch;
}

@media (max-width: 1200px) {
  .insurance-bg h1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .faq h2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .insurance-chart {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .insurance-bg {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .insurance-bg h1 {
    padding-top: 0px;
    padding-bottom: 20px;
  }
}
